.header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
  position: fixed;
  top: 0;
  right: 0;
  left: auto;
  height: 54px;
  width: 100%;
  background-color: white;
  z-index: 100;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.header__logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__logo {
  height: 32px;
  width: 32px;
}

.header__title {
  color: royalblue;
  font-weight: bold;
  margin-left: 16px;
}

@media only screen and (min-width: 800px) {
  .header {
    padding: 0 32px;
  }
}
